<ul class="archives">

{% for month,items in archives_data %}
    <li>
    	<a href="{{ base_url }}/archives_month{{ config.system.param_sep }}{{ month|date('M_Y')|lower|e('url') }}">
        <span class="archive_date">{{ month }}</span>
        </a>{% if archives_show_count %}<span class="label"> ( {{ items|length }} )</span>
        {% endif %}
    </li>
{% endfor %}
</ul>
