<div class="row">
    <div class="large-3 columns">
        {% if site.title %}
            <h1>{{ site.title }}</h1>
        {% endif %}   
        {% if site.description %}
            <h6>{{ site.description }}</h6>
        {% endif %}
    </div>
    <div class="large-3 columns">
        <div class="row">
            <div class="small-4 columns">
                Address:
            </div>
            <div class="small-8 columns">
                <ul class="no-bullet">
                    {% for item in site.address %}
                        <li>{{ item.line }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="large-3 columns">
        <div class="row">
            <div class="small-4 columns">
                Contact:
            </div>
            <div class="small-8 columns">
                <ul class="no-bullet">
                    {% for item in site.contact %}
                        <li>{{ item.line }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="large-2 columns">
        {{ site.website }}
    </div>
</div>