<div class="avoid_pagebreak">
  <h4>{{ module.header.title }}</h4>

  {{ module.content|raw }}

  <div class="row interests">
    {% for item in module.header.interests %}
    <div class="large-3 small-6 medium-3 columns {% if loop.last %}end{% endif %} {% if item.animation %}animated {{ item.animation }}{% endif %}">
      <div class="int_icon">
        <i class="fi-{{ item.icon }}"></i>
        <div class="activity">{{ item.activity }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
